.App{

    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.todo-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid gray;
}

.todo-input{
    width: 90%;
    padding: 10px 0px;
    margin-top: 5px;
    
}

.todo-create-button{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border: 1px solid lightgrey;
    padding: 5px;
    

}

.todo-icons{
    font-size: 20px;
    cursor: pointer;    
}