body{
    margin: 0   ;
    padding: 0;
    height: 100vh;
    background-image: url(images/currency-backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}